<%- include('../Partials/Header')%>
    <div class="container ">
        <div class="d-flex align-items-center justify-content-between ">
            <h1 class="col-6">Welcome To home Page</h1>
            <div class="col-6">
                <img src="/assets/image/Bookshop-pana.png" alt="book" class="img-fluid" height="500">
            </div>
        </div>
    </div>
    <%- include('../Partials/Footer')%>