<%- include('../Partials/Header')%>
    <div class="home">
        <div class="rev_slider">
            <div class="rev_slide">
                <img  class="test" src="https://www.koimoi.com/wp-content/new-galleries/2021/12/pushpa-early-trends-001.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://images8.alphacoders.com/121/1218962.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/3668/593668-h"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://assets-in.bmscdn.com/discovery-catalog/events/et00347237-jcpqyjnclk-landscape.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://assets-in.bmscdn.com/discovery-catalog/events/et00301886-hxjurgyhem-landscape.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://www.bollywoodhungama.com/wp-content/uploads/2019/08/War-1-5.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://image.airtel.tv/EROSNOW/EROSNOW_MOVIE_6687211/LANDSCAPE_169/1045781_6734691_39.jpg"> 
            </div>
            <div class="rev_slide">
                <img  class="test" src="https://media.assettype.com/filmcompanion%2F2024-01%2F44533ed4-4b8f-47ac-bffb-cf2596096a6d%2Fet00311673_efxarfeuup_landscape.avif"> 
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        var rev = $(".rev_slider");
        rev
            .on("init", function (event, slick, currentSlide) {
                var cur = $(slick.$slides[slick.currentSlide]),
                    next = cur.next(),
                    prev = cur.prev();
                prev.addClass("slick-sprev");
                next.addClass("slick-snext");
                cur.removeClass("slick-snext").removeClass("slick-sprev");
                slick.$prev = prev;
                slick.$next = next;
            })
            .on("beforeChange", function (event, slick, currentSlide, nextSlide) {
                //console.log('beforeChange');
                var cur = $(slick.$slides[nextSlide]);
                //console.log(slick.$prev, slick.$next);
                slick.$prev.removeClass("slick-sprev");
                slick.$next.removeClass("slick-snext");
                (next = cur.next()), (prev = cur.prev());
                prev.prev();
                prev.next();
                prev.addClass("slick-sprev");
                next.addClass("slick-snext");
                slick.$prev = prev;
                slick.$next = next;
                cur.removeClass("slick-next").removeClass("slick-sprev");
            });

        rev.slick({
            speed: 1000,
            arrows: true,
            dots: false,
            focusOnSelect: true,
            prevArrow: `<button class="btn position-absolute bottom-0 text-white  fw-bold  " style="background-color: rgb(251, 184, 22);"> <</button>`,
            nextArrow: `<button class="btn  position-absolute bottom-0 end-0 text-white  fw-bold " style="background-color: rgb(251, 184, 22);">></button>`,
            infinite: true,
            centerMode: true,
            slidesPerRow: 1,
            slidesToShow: 1,
            slidesToScroll: 1,
            centerPadding: "0",
            swipe: true,
            customPaging: function (slider, i) {
                return "";
            },
            autoplay: true, // Add this line for auto-play
            autoplaySpeed: 2000 // Specify the autoplay speed in milliseconds
            /*infinite: false,*/
        });

    </script>

    <%- include('../Partials/Footer')%>